.phan_trang {
    margin: 20px 0;
    text-align: center;
}
.phan_trang a {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 5px;
    text-decoration: none;
    background-color: #219DE5;
    color: white;
    border-radius: 5px;
}
.phan_trang a.active {
    background-color: #0F6CBF;
    pointer-events: none;
}
.phan_trang a:hover {
    background-color: #0A4B8E;
}